MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_APP_USER=mon_nom_username
MONGO_APP_PASSWORD=mon_mot_de_passe
MONGO_DB=ma_base_de_données
MONGO_COLLECTION=ma_collection
ROOT_DIR="."
ROOT_USERNAME=root
ROOT_PASSWORD=password